force-app/main/default/flows/Invoice_Creation_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Hours_to_Total</name>
        <label>Add Hours to Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Each_Time_Log.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Time_Log</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formula_TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalHours} * {!$Record.Project__c.Hourly_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Invoice Creation Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Creation Automation</label>
    <loops>
        <name>Loop_Through_Each_Time_Log</name>
        <label>Loop Through Each Time Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Unbilled_Time_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Time_Log_to_Billed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Unbilled_Time_Logs</name>
        <label>Get Unbilled Time Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Each_Time_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>$Record &gt; Project</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unbilled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Totals</name>
        <label>Update Invoice Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CorpCrcyCnvTotAmtWithTax</field>
            <value>
                <elementReference>formula_TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>varTotalHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Log_to_Billed</name>
        <label>Update Time Log to Billed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Hours_to_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Each_Time_Log.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Billed</stringValue>
            </value>
        </inputAssignments>
        <object>Time_Log__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unbilled_Time_Logs</targetReference>
        </connector>
        <object>Invoice</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
